/* Form Container */
.container {
  width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Form Header */
h1 {
  font-size: 24px;
  text-align: center;
}

/* Form Fields */
label {
  display: block;
  margin-bottom: 5px;
}

select,
input[type="radio"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}
input[type="text"] {
  width: 80%; /* Adjust the width as needed */
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}
/* Buttons */
button {
  display: inline-block;
  padding: 10px 20px;
  margin-right: 10px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

button:last-child {
  margin-right: 0;
}

/* List */
ul {
  list-style: none;
  padding: 0;
}

li {
  margin-bottom: 5px;
  font-size: 16px;
}

/* Responsive */
@media (max-width: 500px) {
  .container {
    width: 100%;
    padding: 10px;
  }
}